version: "3.9"

services:
  jupyterhub:
    build:
      context: ../..
      dockerfile: deploy/jupyterhub/Dockerfile
    container_name: amprenta-jupyterhub

    ports:
      - "8888:8888"

    environment:
      - API_URL=${API_URL:-http://host.docker.internal:8000}

    volumes:
      # Persist hub db/config and runtime files
      - jupyterhub-db:/srv/jupyterhub
      # Persist user notebooks/home directories
      - jupyterhub-users:/home

    restart: unless-stopped

volumes:
  jupyterhub-db:
  jupyterhub-users:


